* {
    margin: 0px;
    padding: 0px;
}

:root {
    --hard-counter-color: rgb(255, 213, 213);
    --soft-counter-color: rgb(213, 213, 255);
    --minor-counter-color: rgb(216, 255, 211);
    --settings-background-color: #31343E;
    --settings-button-background-color: #131416;
    --settings-button-border-color: #245D7A;
}

body {
    font: 13px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
	background-image: url("../img/site/steel-wave.jpg");
/*  Alternate background images
	background-image: url("../img/site/void-edge.jpg");
    background-image: url("../img/site/gray-triangles.jpg");
    background-image: url("../img/site/black-mist.jpg");
*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-color: #333;
}

#settingsPopup {
    background-color: var(--settings-background-color);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 75px;
    width: 320px;
    height: 195px;
    display: none;
}

#toolsButton {
    background:url(../img/site/settings.jpg) no-repeat;
    display: block;
    transition: border 0.25s;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 49px;
    height: 49px;
    border: 2px solid transparent;
}

#toolsButton:hover {
    border: 2px solid white;
}

.settingsButton {
    background-color: var(--settings-button-background-color);
    width: 290px;
    margin: 15px 15px 0px 15px;
    font: 15px Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    transition: padding 0.25s;
    padding: 10px;
    text-align: left;
    border: 2px solid var(--settings-button-border-color);
}

.settingsButton:hover {
    padding: 10px 10px 10px 25px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 2px #336988;
}

#startButton {
    display: none;
}

#stopButton {
    display: block;
}

.checkboxes {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    font: 15px Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.settingsButtonLabel {
    color: white;
    stroke: white;
}

#highQualityEnabledLabel {
    display: none;
}

#highAccuracyDisabledLabel {
    display: none;
}

.counterCheckbox {
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.hardcounter {
    color: var(--hard-counter-color);
    stroke: var(--hard-counter-color);
}

.softcounter {
    color: var(--soft-counter-color);
    stroke: var(--soft-counter-color);
}

.minorcounter {
    color: var(--minor-counter-color);
    stroke: var(--minor-counter-color);
}

.hardcountertriangle {
    fill: var(--hard-counter-color);
}

.softcountertriangle {
    fill: var(--soft-counter-color);
}

.minorcountertriangle {
    fill: var(--minor-counter-color);
}

.neo4jd3-info {
    font-size: 16px;
    padding: 10px;
    position: absolute;
    margin-right: 50px;

    a {
        border: 1px solid;
        display: inline-block;
        font-size: 14px;
        line-height: 1.428571429;
        margin-left: 5px;
        margin-top: 5px;
        padding: 6px 12px;

        &.class {
            color: white;
        }

        &.property {
            background-color: #fff;
            border-color: #ccc;
            color: #333;
        }
    }

    a.btn {
        margin-left: 5px;
        margin-top: 5px;
        opacity: 1;
    }

    a.info {
        background-color: rgb(165, 171, 182);
        border: 1px solid rgb(154, 161, 172);
        color: white;
    }
}

.node {
    will-change: transform;

    transition: opacity 0.5s;
}

.relationship {
    will-change: transform;

    transition: opacity 0.5s;
    cursor: default;

    .outline {
        cursor: default;
    }

    .overlay {
        cursor: default;
        fill: #6ac6ff;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
        opacity: 0;
    }

    text {
        cursor: default;
        color: #ffffff;
    }
}

.unfocused {
    opacity: 0.15;
}

.relationship.selected .overlay,
.relationship:hover .overlay {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: .3;
}

svg {
    cursor: move;
}
